
@font-face {
  font-family: "Ama";
  src: url(src/assets/Fonts/Amazonica_Juan_Casco.ttf);
}

.card h1
{
    padding: 0 10px 0 10px;
    font-family: "Ama";
}




.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }


  .card span 
  {
    color: red;
  }


#add
  {
      color: #fff;
      font-weight: 500;
  }

  #topper img
  {
    width: 100%;
  }

  #topper
  {
    display: flex;
    justify-content: center;
    gap: 520px;
    margin: 5em 0 6em 0;
  }


  #topper h5
  {
     cursor: pointer;
  }



/* Mobile  */
@media (width <= 768px)
{


    
.Menu
{
  display: block;  
}

#middleDesign
{
  margin-top: 30px;
  margin-bottom: 30px;
}
}


/* Tablet */
@media (width <= 1200px)

{
  .Menu
{
  display: block;  
}


#topper img
{
  width: 100%;
}

#topper
{
  display: flex;
  justify-content: center;
  gap: 120px;
  margin: 5em 0 6em 0;
}


#middleDesign
{
  margin-top: 30px;
  margin-bottom: 30px;
}

}



/* Tablet */
/* @media (width <= 1200px)
{

    #topper img
    {
      width: 100%;
    }
    
    #topper
    {
      display: flex;
      justify-content: center;
      gap: 120px;
      margin: 5em 0 6em 0;
    }
    
    #cardDesign
    {
        margin: 20px 0 20px 40px;
    }
} */